:root {
	--shadow: 0 19px 38px rgba(0,0,0,0.30),
	0 15px 12px rgba(0,0,0,0.22);
}
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
	counter-reset: score;
}
.title {
	display: flex;
	justify-content: center;
	margin: 45px 0 10px;
}
.title img {
	width: 60%;
}
.score {
	color: #a6543d;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	text-align: center;
}
.phone {
	position: relative;
	border: 8px solid black;
	border-radius: 40px;
	width: 300px;
	height: 600px;
	background: #CCEFFF;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.layer-1 {
	position: absolute;
	z-index: 1;
	width: 80px;
	height: 450px;
	bottom: 0;
	right: 60px;

	animation-name: layer;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes layer {
	0% {
		bottom: 0;
	}
	25% {
		bottom: -80px;
	}
	100% {
		bottom: 0;
	}
}
input[type=checkbox] {
	appearance: none;
	cursor: pointer;
	height: 50px;
	width: 80px;
	position: relative;
	margin: 0;
	top: 0;
	z-index: 2;
}
input[type=checkbox]:focus {
	appearance: none;
	outline: none;
}
/*counter*/
input:checked {
	counter-increment: score;
}
.score::after {
	content: counter(score);
}
.layer-2 {
	position: absolute;
	z-index: 2;
	width: 80px;
	height: 450px;
	bottom: 0;
	left: 60px;

	animation-name: layer;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.layer-3 {
	position: absolute;
	z-index: 3;
	border-radius: 15px;
	box-shadow: var(--shadow);
	width: 220px;
	height: 400px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	background: #bb6d50;
}
.layer-4 {
	position: absolute;
	z-index: 4;
	width: 80px;
	height: 350px;
	bottom: 0;
	left: 50px;
	animation-name: layer;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.layer-5 {
	position: absolute;
	z-index: 5;
	border-radius: 40px;
	box-shadow: var(--shadow);
	width: 200px;
	height: 300px;
	left: 0;
	bottom: 0;
	background: #bb6d50;
}
.layer-6 {
	position: absolute;
	z-index: 6;
	width: 80px;
	height: 250px;
	bottom: 0;
	right: 35px;

	animation-name: layer;
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.layer-7 {
	position: absolute;
	z-index: 7;
	border-radius: 15px;
	box-shadow: var(--shadow);
	width: 150px;
	height: 200px;
	right: 0;
	bottom: 0;
	background: #bb6d50;
	border-bottom-right-radius: 40px;
}
.layer-8 {
	position: absolute;
	z-index: 8;
	width: 200px;
	height: 120px;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0 auto;
}
.layer-9 {
	position: absolute;
	z-index: 9;
	width: 120px;
	height: 100px;
	left: 0;
	bottom: 0;
}
.layer-10 {
	position: absolute;
	z-index: 10;
	width: 120px;
	height: 100px;
	right: 0;
	bottom: 0;
}

/*grass on the walls*/
.layer-3::after, .layer-5::after, .layer-7::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
	background: linear-gradient(135deg, #6aa067 25%, transparent 25%) -50px 0,
              linear-gradient(-135deg, #6aa067 25%, transparent 25%) -50px 0,
              linear-gradient(45deg, #6aa067 25%, transparent 25%),
              linear-gradient(-45deg, #6aa067 25%, transparent 25%);
	background-size: 40px 100px;
	background-position: 140px 0 0 30px 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.layer-3::before, .layer-5::before, .layer-7::before {
	content: "";
	position: absolute;
	left: 0;
	top: 15px;
	width: 100%;
	height: 40px;
	background: linear-gradient(135deg, #a6543d 25%, transparent 25%) -50px 0,
              linear-gradient(-135deg, #a6543d 25%, transparent 25%) -50px 0,
              linear-gradient(45deg, #a6543d 25%, transparent 25%),
              linear-gradient(-45deg, #a6543d 25%, transparent 25%);
	background-size: 40px 100px;
	background-position: 140px 0 0 30px 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/*Bunnies*/
.left-ear--outer {
	background: white;
	border-radius: 90%;
	width: 20px;
	height: 50px;
	position: absolute;
	left: 10px;
}
.left-ear--inner {
	background: pink;
	border-radius: 90%;
	width: 10px;
	height: 40px;
	position: absolute;
	left: 15px;
	top: 8px;
}
.right-ear--outer {
	background: white;
	border-radius: 90%;
	width: 20px;
	height: 50px;
	position: absolute;
	right: 10px;
}
.right-ear--inner {
	background: pink;
	border-radius: 90%;
	width: 10px;
	height: 40px;
	position: absolute;
	right: 15px;
	top: 8px;
}
.head {
	background: white;
	border-radius: 50%;
	width: 100%;
	height: 80px;
	position: absolute;
	right: 0;
	left: 0;
	top: 30px;
	margin: 0 auto;
}
.head__eye {
	background: gray;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	position: absolute;
	top: 15px;
	/*animations*/
	animation-name: blink;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes blink {
	0% {
		height: 4px;
	}
	5% {
		transform: translate(0px, 2px);
		height: 1px;
	}
	10% {
		transform: translate(0px, 0px);
		height: 4px;
	}
}

.head__eye--left {
	left: 30px;
}
.head__eye--right {
	right: 30px;
}

/*clouds*/
.cloud-left__left-side {
	background: white;
	border-radius: 40px 40px 0 0;
	display: inline-block;
	width: 80px;
	height: 100%;
	left: 0;
	position: absolute;
	border-bottom-left-radius: 40px;
}
.cloud-left__right-side {
	background: white;
	border-radius: 0 40px 30px 0;
	display: inline-block;
	width: 40px;
	height: 60%;
	left: 80px;
	bottom: 0;
	position: absolute;
}
.cloud-right__left-side {
	background: white;
	border-radius: 40px 0 0 30px;
	display: inline-block;
	width: 40px;
	height: 60%;
	right: 80px;
	bottom: 0;
	position: absolute;
}
.cloud-right__right-side {
	background: white;
	border-radius: 40px 40px 0 0;
	display: inline-block;
	width: 80px;
	height: 100%;
	right: 0;
	bottom: 0;
	position: absolute;
	border-bottom-right-radius: 40px;
}
/*bush*/
.left-bush {
	background: #6aa067;
	border-radius: 40px 40px 0 0;
	bottom: 0;
	left: 0;
	display: inline-block;
	position: absolute;
	height: 70%;
	width: 80px;
}
.center-bush {
	background: #6aa067;
	border-radius: 40px 40px 0 0;
	bottom: 0;
	left: 60px;
	display: inline-block;
	position: absolute;
	height: 100%;
	width: 80px;
}
.right-bush {
	background: #6aa067;
	border-radius: 40px 40px 0 0;
	bottom: 0;
	left: 130px;
	display: inline-block;
	position: absolute;
	height: 80%;
	width: 80px;
}